body{
	font-family: helvetica, calibri, sans-serif ;
}
#header{
	
}
#superMenu{
	float: right;
}
#logo{
	display:inline;
}
#cbText{
	display:inline;
	position: relative;
	top: -15px;
	font-size:40px;
}
#menu
{
	float: right;
}
.navButton{
	background-color: #AAA;
	padding: 4px 8px;
	text-decoration: none;
	margin:0 2px;
}
#content{
	margin: 0 auto;
	width: 860px;
}
.border{
	border-style:solid;
	border-width:2px;
	margin: 5px;
	float: left;
	background-color: #DDD;
}
.row{
	clear: both;
}
.row:after{
	content:"";
	clear:both;
}
#charName{
	float: left;
}
#charName h2{
	width: 250px;
	padding:0;
	margin:0;
}
#charInfo{
	
}
#cardImgHolder{
	height: 215px;
	width: 157px;
	overflow: hidden;
}
#cardImg{
	position: relative;
	left: -18px;
	top: -20px;
	height: 255px;
}
#charDisc{
	height: 215px;
	width: 227px;
	overflow: scroll;
}
#charDisc h3{
	padding-top:5px;
	padding-left:5px;
	margin:0;
}
#charDiscTxt{
	margin: 0px;
	padding: 5px;
}
#stats{
	height: 215px;
	width: 400px;
	margin-left:10px;
}
.pointCount{
	width: 400px;
	height: 65px;
}
#buffer{
	margin-left:10px;
}
.deck{
	width: 400px;
	height: 370px;
}
#hotSwap{
	margin-left:10px;
}
#notes{
	width: 821px;
	height: 170px;
	overflow: scroll;
}
#notes h3{
	display:inline;
	padding: 5px;
}
#notesText{
	margin: 0px;
	padding: 5px;
}