body{
	font-family: 'PT Sans', 'Myriad Pro', 'Helvetica', sans-serif;
	margin: 10px 10px 30px;
}

/*Header Stuff*/
#header{
	width: 100%;
}
	#header h1{
		position: relative;
		top: 47px;
		font-size: 40px;
	}

	#header nav{
		float: right;
	}
	#header img#logo{
		display:inline;
	}
	
	
	#header #cbText{
		display:inline;
		position: relative;
		top: -15px;
		font-size:40px;
	}
#menu
{
	float: right;
}
	#menu .navButton{
		background-color: #AAA;
		padding: 4px 8px;
		text-decoration: none;
		margin:0 2px;
		color: #fff;
		text-shadow: 0 0 4px #000;
	}
#content{
	margin: 0 auto;
	width: 860px;
	clear:both;
}
.content:after{
	content:"";
	clear:both;
}
.border{
	border-style:solid;
	border-width:2px;
	margin: 5px;
	float: left;
	background-color: #DDD;
}
.row{
	clear: both;
}
.row:after{
	content:"";
	clear:both;
}

/*Row 1 - Char Name/Menu */
#charName{
	float: left;
}
#charName h2{
	width: 250px;
	padding:0;
	margin:0;
}
#menu
{
	float: right;
}
.navButton{
	background-color: #AAA;
	padding: 4px 8px;
	text-decoration: none;
	margin:0 2px;
}
/*Row 2 - Char Info/Stats */
#charInfo{
	
}
#cardImgHolder{
	height: 215px;
	width: 157px;
	overflow: hidden;
}
#cardImg{
	position: relative;
	left: -18px;
	top: -20px;
	height: 255px;
}
#charDisc{
	height: 215px;
	width: 227px;
	overflow:hidden;
}
#charDisc h3{
	padding-top:5px;
	padding-left:5px;
	margin:0;
	height:30px;
}
<<<<<<< HEAD
#charDiscTxt{
	background-color: white;
=======
#charDisc p{
>>>>>>> Styled text a little better
	margin: 0px;
	padding: 5px;
	text-align: justify;
	font-size: 12px;
	height: 165px;
	overflow-y: auto;
}
#stats{
	height: 215px;
	width: 400px;
	margin-left:10px;
}
.statsIcon{
	height: 35px;
}
.statNum{
	text-align:center;
}
.buffer{
	margin-left:10px;
}

/*Row 3 - Points*/
.pointCount{
	width: 400px;
	height: 65px;
}
.pointsIcon{
	width:50px;
}
.pointsLabel{
	float:left;
	width: 199px;
	height: 100%;
	border-right: solid 2px;
}
.pointsVal{
	float: left;
	width: 199px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#pointsUP{
	background-color: white;
}
#pointsSB{
}
/*Row 4 - Decks*/
.deck{
	width: 400px;
	height: 370px;
}
#hotSwap{
	margin-left:10px;
}
.deckTitle{
	height: 20px;
	padding:5px;
	background-color:#000;
	color:#FFF;
}
.addCard{
	text-decoration:none;
	float: right;
	font-size: 20px;
	padding: 0px 6px;
	background-color:#FFF;
}
/*Row 5 - Notes*/
#notes{
	width: 821px;
	height: 170px;
	overflow-y: scroll;
}
#notes h3{
	display:inline;
	padding: 5px;
}
#notesText{
	background-color: white;
	margin: 0px;
	padding: 5px;
}