.light#dialog-overlay{
	background: #fff;
}
#dialog-overlay{
	z-index: 2000;
	background: #000;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#dialog-wrapper{
	z-index: 2002;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;		
}
#dialog-container{
	background: #fff;
	border: 2px solid #000;
	width:600px;
	height: auto;
	margin:0 auto;
	margin-top: 130px;
	padding: 10px;
	box-shadow: 0 0 30px #aaa;
}

#dialog-container.wide{
	width: 860px;
	margin-top: 30px;
}
/******************
 *  Dialog header
 * 
 * Where the X is in the upper right
 ******************/
#dialog-header{
	float: right;
	text-align: right;
}
#dialog-header #close-button{
	cursor: pointer;
	font-family: "MyriadPro-Light", "Myriad Pro Light", "Myriad Pro", 'Helvetica', sans-sarif;
	color: #555;
	font-weight: 300;
	font-size: 18px;
	line-height: 70%;
}
/******************
 *  Dialog Content
 * 
 * Where the content of the dialog is
 ******************/
#dialog-content{
}
#dialog-content h1{
	margin: 0 0 10px 0;
	border-bottom: 1px solid #CCC;
	font-size: 24px;
}

/******************
 *  Dialog Footer
 * 
 *  Where the bottom buttons are
 ******************/
#dialog-footer{
	clear:both;
	text-align:right;
	widht: 100%;
	border:0;
	margin:15px 0 0 0;
	padding:0;
}

#dialog-footer button{
	background: #DDD;
	border: 1px solid #000;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	padding: 5px 15px;
	font-size: 13px;
	font-weight: bold;
	text-transform: lowercase;
}

#dialog-footer #footer-left{
	float:left;
	text-algin:left;
}

