body{
	font-family: 'PT Sans', 'Myriad Pro', 'Helvetica', sans-serif;
	margin: 10px 10px 30px;
}

/*Header Stuff*/
#header{
	width: 100%;
}
	#header h1{
		position: relative;
		top: 47px;
		font-size: 40px;
	}
	#header nav{
		float: right;
	}
	#header img{
		float: left;
	}

#content{
	margin: 0 auto;
	width: 860px;
	clear:both;
}
.content:after{
	content:"";
	clear:both;
}
.border{
	border-style:solid;
	border-width:2px;
	background-color: #f2f2f2;
}
.row{
	width: 860px;
	margin-bottom: 15px;
	clear: both;
}
.row:after{
	content:"";
	clear:both;
}

/******************************
 * Row 1 
 * 
 * - Character name 
 * - Menu
******************************/
#charName{
	float: left;
}
	#charName h2{
		width: 420px;
		height: 30px;
		overflow: hidden;
		padding:0;
		margin:0;
	}
	#charName h2:after{
		display: inline;
		font-family: "IconicStroke";
		content: "               p";	
	}
#menu{
	width: 420px;
	margin-left: 440px;
	text-align: right;
}
	#menu .navButton{
		background-color: #666;
		padding: 5px 10px;
		text-decoration: none;
		margin:0 2px;
		color: #fff;
		text-shadow: 0 0 4px #000;
	}

/******************************
 * Row 2
 * 
 * - Character Information
******************************/

#charInfo{
	
}
#cardImgHolder{
	height: 215px;
	width: 157px;
	overflow: hidden;
	float: left;
}
	#cardImg{
		position: relative;
		left: -18px;
		top: -20px;
		height: 255px;
	}
#charDisc{
	height: 215px;
	width: 245px;
	overflow:hidden;
	float: left;
	margin-left: 10px;
}
	#charDisc h3{
		padding-top:5px;
		padding-left:5px;
		margin:0;
		height:30px;
	}

	#charDisc p{
		background-color: #fff;
		margin: 0px;
		padding: 5px 10px 5px 5px;
		text-align: justify;
		font-size: 12px;
		height: 165px;
		overflow-y: auto;
	}
	#charDisc p:after{
		font-family: "IconicStroke";
		content: "               p";	
	}
#stats{
	height: 215px;
	width: 416px;
	margin-left: 440px;
}
	#stats table{
		width: 100%;
		height: 100%;
	}
	#stats td{
		line-height:35px;
	}
	.statsIcon{
		height: 35px;
		margin-right: 3px;
		float: left;
	}
	.statNum{
		text-align:center;
	}
	


/******************************
 * Row 3 
 * 
 * - Points
******************************/

.pointCount{
	width: 416px;
	height: 65px;
	float: left;
}
	.pointCount#buffer-points{
		float: none;
		margin-left: 440px;
	}
	.pointsIcon{
		float: left;
		margin: 7px 5px 0px 5px;
		width:50px;
	}
	.pointsLabel{
		float:left;
		line-height:63px;
		font-size: 20px;
		width: 199px;
		height: 100%;
		border-right: solid 2px;
	}
	.pointsVal{
		float: left;
		width: 199px;
		height: 100%;
		overflow: hidden;
		text-align: center;
		line-height: 68px;
		font-size: 30px;
	}
	#pointsUP{
		background-color: #fff;
	}
	#pointsUP:after{
		font-family: "IconicStroke";
		content: "               p";	
	}
	#pointsSB{
	}
	.negative{
		font-weight: bold;
		color: #800000;
	    -webkit-animation: pulse 2s infinite;
	}

	@-webkit-keyframes pulse {
		0% {
		   	text-shadow: 0px 0px 7px rgba(100,0,0,.7);
		 }
		50% {
			text-shadow: 0px 0px 2px rgba(0,0,0,.8);
		 }
		100% {
		   	text-shadow: 0px 0px 7px rgba(100,0,0,.7);
		 }
	}

/******************************
 * Row 4 
 * 
 * - Decks
******************************/
.row#decks{
	z-index: 60;
}
.deck{
	width: 416px;
	height: 370px;
	position: relative;
}
#character-deck{
	float:left;
}
#hot-swap-deck{
	margin-left:440px;
}
	.deckTitle{
		height: 20px;
		padding:5px;
		background-color:#000;
		color:#fff;
		font-weight: bold;
	}
	.addCard{
		float: right;
		font-size: 20px;
		font-family: 'PT Sans', 'Myriad Pro';
		line-height: 22px;
		background-color: #fff;
		border: none;
		height: 20px;
		margin: 0;
		padding: 0px 7px;
		
	}
	.deckContent{
		height: 340px;
		width: 416px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.deckCard{
		display: block;
		width: 380px;
		position: relative;
		background: #f2f2f2;
		border-left: 15px solid red;
		margin: 5px 0 10px 0;
		cursor: pointer;
	}
		.red{
			border-color: #F00;
		}
		.blue{
			border-color: #3fa9f5;
		}
		.yellow{
			border-color: #fcee21;
		}
		.cardCost{
			display: block;
			padding: 0px 8px;
			font-size: 26px;
			border-right: #888 solid 2px;
			width: 40px;
			position: absolute;
			text-align: center;
		}
		.cardName{
			display: block;
			padding: 0px 8px;
			font-size: 26px;
			position: relative;
			left: 70px;
		}
#trash-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	opacity: 0.8;
}
#trash-overlay #trash-icon{
	color: #CCC;
	width: 134px;
	text-align: center;
	font-size: 200px;
	font-weight:bold;
	margin: 50px auto;
}
#trash-overlay .deckCard{
	display: none !important;
}

/******************************
 * Row 5 
 * 
 * - Notes
******************************/
#notes{
	width: 856px;
	height: 170px;
	overflow: hidden;
}
	#notes h3{
		display:inline;
		padding: 5px;
		height:32px;
	}
	#notes p{
		background-color: #fff;
		margin: 0px;
		padding: 5px;
		height: 132px;
		overflow-y: auto;
		font-size: 13px;
	}
	#notes p:after{
		font-family: "IconicStroke";
		content: "               p";	
	}
	
	
/******************************
 * Dialogs
 * 
******************************/

/** 
 * _cardView
 **/
#dialog-content div.card-container{
	display: block;
	width: 420px;
	height: auto;
	float: left;
	overflow: hidden;
	margin-right: 3px;
}
#dialog-content div.card-container img{
	width: 500px;
	position: relative;
	top: -40px;
	left: -40px;
	margin-bottom: -80px;
}

/** 
 * _load
 **/
#dialog-content #loader{
	width: 100%;
}

#loader #character-list-container{
	border: 2px solid black;
	width: 340px;
	background: #ddd;
	height: 275px;
	float: left;
	overflow-y: auto;
	margin-left: 10px;
}
	#character-list-container #character-list{
		margin: 3px;
	}
		#loader #character-list .loadable-character{
			background: #fff;
			border: 1px solid #f2f2f2;
			padding: 5px;
			font-weight: bold;
			margin: 0 0 1px 0;
			cursor: pointer;
		}
		#loader #character-list .loadable-character.chosen{
			background: #0CC;
		
			color: #000;
}
#loader #character-image-container{
	width: 230px;
	height: 280px;
	margin-left: 370px;
}
	#loader #character-image-container #character-image{
		overflow: hidden;
		width: 205px;
		height: 100%;
	}
		#loader #character-image-container #character-image img{
			width: 244px;
			left: -20px;
			top: -22px;
			position: relative;
		}
		

#deck{
	float:left;
}
#hot-swap-deck-add{
	margin-left:440px;
}
 
